body {
    margin: 0;
    font-family: Source Sans Pro;
}

header {
    display: flex;
    background: black;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding: 1em;
    column-gap: 7em;
    position: fixed;
    top: 0;
    width: 100%;
}

header img {
    width: 10em;
}

header nav ul {
    display: flex;
    list-style: none;
    column-gap: 2em;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}

header nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: bolder;
}

header nav ul li:hover a {
    text-decoration: underline;
}

header button {
    padding: 1em 2.5em;
    font-size: 14px;
    font-weight: bolder;
    background-color: #f9a21d;
    border: none;
    border-radius: 5px;
}

.signup {
    text-align: center;
    margin-top: 10em;
}

.signup form {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    row-gap: 2em;
}

.signup form .inside {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2em;
    column-gap: 4em;
    justify-content: center;
}

.signup form .inside div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1em;
}

.signup form .inside div label {
    font-size: 18px;
}

.signup form .inside div label::after {
    content: "*";
    color: #ff0000;
    font-size: 20px;
}

.signup form .inside div input {
    padding: 10px;
    font-size: 18px;
    width: 25em;
    outline: none;
}

.signup form .inside div .checkbox {
    border: 1px solid black;
    width: fit-content;

}

.checkbox {
    font-size: 18px;
}

.checkbox a {
    color: #f9a21d;
    text-decoration: underline;
}

button[type="submit"] {
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
    padding: 1em;
    border: none;
    border-radius: 5px;
    background: #f9a21d;
    cursor: pointer;
}

.mobile-view {
    display: none;
}

.hidden {
    display: none;
}

.msg-color {
    color: red;
    text-align: left;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin-top: 3em;
}

footer .wrap {
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

footer .top {
    display: flex;
    justify-content: space-between;
}

footer .top img {
    width: 12em;
}

footer .top ul {
    display: flex;
    list-style: none;
    column-gap: 2em;
    flex-wrap: wrap;
    justify-content: flex-end;
}

footer .top ul a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

footer .down {
    display: flex;
    justify-content: space-between;
}

footer .down .social {
    display: flex;
    column-gap: 0.5em;
}

footer .down .social img {
    width: 35px;
}

footer .down span {
    font-size: 13px;
}

footer .down span a {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid #4776be;
}

footer .down span a:hover {
    color: #4776be;
    border: none;
}

@media (max-width: 1250px) {
    header {
        justify-content: space-between;
    }

    .desktop-view {
        display: none;
    }

    .mobile-view {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        padding: 1em 5em;
    }

    .mobile-view div {
        border: 2px solid #fff;
        width: 20px;
    }
}

@media (max-width: 1010px) {
    .signup form {
        align-items: center;
    }

    button[type="submit"] {
        width: 25em;
        margin-bottom: 2em;
    }

    footer {
        justify-content: flex-start;
    }

    footer img {
        margin-left: 2.5em;
    }

    footer .wrap .top, footer ul, footer .down{
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 550px) {
    .signup form .inside div input, button[type="submit"] {
        width: 18em;
    }
}