body {
    padding: 0;
    margin: 0;
    font-family: Source Sans Pro;
    font-weight: 400;
    line-height: 1.55;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-around;
    height: 3em;
    align-items: center;
    background-color: black;
    font-size: 16px;
}

header div {
    display: flex;
    column-gap: 2em;
    align-items: center;
}

header div ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    column-gap: 4em;
}

header div ul a{
    text-decoration: none;
    color: #fff;
}

header div ul li:hover a {
    text-decoration: underline;
}

header div ul li .fa {
    color: #fff;
    cursor: pointer;
    margin-left: 1em;
}

header div input {
    text-align: right;
    width: 5em;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background-image: url(./images/icon-search.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.fixed-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
}

.fixed-header .wrap {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 20px;
    font-weight: bolder;
    width: 80em;
}

.fixed-header button {
    padding: 1em 2.5em;
    font-size: 16px;
    font-weight: bolder;
    background-color: #f9a21d;
    border: none;
    border-radius: 5px;
}   

.anthology-blackboard {
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 3.5em;
    text-align: center;
}

.anthology-blackboard img {
    width: 58em;
}

.anthology-blackboard .anthology-p1 {
    font-size: 23px;
    font-weight: bolder;
}

.anthology-blackboard .anthology-p2 {
    width: 50%;
    line-height: 1.5em;
    margin-top: -0.2em;
}

.anthology-blackboard button {
    padding: 1.5em 5em;
    font-size: 16px;
    font-weight: bold;
    margin-top: 1.5em;
    background-color: #f9a21d;
    border: none;
    border-radius: 5px;
}

.product-spotlight {
    height: 50em;
    display: flex;
    align-items: center;
}

.product-spotlight .spotlight {
    display: flex;
    justify-content: flex-end;
}

.product-spotlight .spotlight div{
    width: 50%;
}

.product-spotlight .spotlight div p {
    font-size: 22px;
    line-height: 1.7em;
    width: fit-content;
}

.product-spotlight .spotlight div button {
    font-size: 16px;
    font-weight: bold;
    padding: 1em 5em;
    color: #638bc7;
    background: transparent;
    border: none;
    border: 3px solid #638bc7;
    border-radius: 5px;
}

.product-spotlight .product-image img{
    width: 100%;
}

.noteworthy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noteworthy .table-holder {
    display: flex;
    justify-content: center;
    column-gap: 2em;
    margin-top: 2em;
    flex-wrap: wrap;
}

.noteworthy .table-holder .table {
    background: #f8f8f8;
    width: 18em;
    padding: 30px;
}

.noteworthy .table-holder .table img {
    width: 100%
}

.noteworthy .table-holder .table span {
    font-size: 19px;
    font-weight: bolder;
    color: #5882c3;
}

.noteworthy .table-holder .table p {
    font-size: 18px;
}

.proven-results {
    text-align: center;
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proven-results .partners .partners-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75vw;
    column-gap: 2em;
    margin-bottom: 2.5em;
}

.proven-results .partners .partners-holder img {
    width: 20em;
    height: 7em;
    padding: 20px;
    cursor: pointer;
}

.proven-results .partners .partners-holder img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.contact-blackboard {
    text-align: center;
    background: black;
    color: #fff;
    padding: 2.5em 0 6em 0;
}

.contact-blackboard p {
    font-size: 25px;
}

.contact-blackboard button {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1em 4em;
    background: #f9a21d;
    border: none;
    border-radius: 5px;
    margin-top: 1em;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

footer .wrap {
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

footer .top {
    display: flex;
    justify-content: space-between;
}

footer .top img {
    width: 12em;
}

footer .top ul {
    display: flex;
    list-style: none;
    column-gap: 2em;
    flex-wrap: wrap;
    justify-content: flex-end;
}

footer .top ul a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

footer .down {
    display: flex;
    justify-content: space-between;
}

footer .down .social {
    display: flex;
    column-gap: 0.5em;
}

footer .down .social img {
    width: 35px;
}

footer .down span {
    font-size: 13px;
}

footer .down span a {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid #4776be;
}

footer .down span a:hover {
    color: #4776be;
    border: none;
}

.fix {
    position: fixed;
}

.flotting {
    background-color: #191919;
    width: 3em;
    height: 2.6em;
    position: fixed;
    bottom: 3.5em;
    margin-left: 1px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.flotting img {
    width: 1em;
}

.flotting .A-black {
    display: none;
}

.flotting:hover {
    background-color: #fff;
    border: 0.5px solid gray;
}

.flotting:hover .A-white {
    display: none;
}

.flotting:hover .A-black {
    display: block;
}

.mobile-view {
    display: none;
}

@media (max-width: 1200px){
    .desktop-view {
        display: none;
    }

    .mobile-view {
        display: flex;
        width: 100%;
        height: 5em;
    }

    .mobile-view svg {
        width: 10em;
    }

    .mobile-view svg path {
        fill: #fff;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
        position: absolute;
        top: 2em;
        left: 10px;
        cursor: pointer;
    }

    .hamburger div {
        width: 30px;
        border: 1px solid #fff;
    }

    .hamburger ul {
        position: absolute;
        background-color: #191919;
        display: none;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        left: -0.5em;
        row-gap: 2em;
        padding: 2em;
    }

    .hamburger ul button {
        background-color: #f9a21d;
        border: none;
        padding: 1em;
        border-radius: 5px;
    }

    .anthology-blackboard button {
        padding: 1.5em 2.5em;
    }

    .product-spotlight .image-laptop {
        background: url(./images/Blackboard-Learn-Ultra.png);
        background-size: 160%;
        height: 30em;
        background-repeat: no-repeat;
        background-position: -3.5em 0;
    }

    .product-spotlight .spotlight {
        justify-content: flex-start;
        padding-left: 3em;
    }

    .product-spotlight div {
        width: 100%;
    }

    .contact-blackboard button {
        padding: 1.5em 1.90em;
    }

    footer {
        justify-content: flex-start;
    }

    footer img {
        margin-left: 2.5em;
    }

    footer .wrap .top, footer ul, footer .down{
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 700px) {
    .anthology-blackboard img {
        width: 100%;
    }

    .product-spotlight .product-image{
        display: none;
    }

    .product-spotlight .spotlight div{
        width: 90%;
    }
}